<html lang = "en">
    <head>
            <title>Bookmatch</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
            <link rel="stylesheet"  href= "/static/css/styles.css">
            <link rel="icon" href="data:,">

        
            <!-- client-side scripts -->
            <script lang="text/javascript" src="/static/js/bookmatch.js" defer></script>
    </head>
    <body>
        <nav>
        </nav>

    <main>
        <div id = "search-bar"></div>

        <div id = "search-results"> 
          
        </div>
   </main>

        
       

    </body>

</html>
